[submodule "srcEXT/in0k_lazarusIdeSRC__expertCORE"]
	path = srcEXT/in0k_lazarusIdeSRC__expertCORE
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__expertCORE.git
[submodule "srcEXT/in0k_lazarusIdeSRC__wndDEBUG"]
	path = srcEXT/in0k_lazarusIdeSRC__wndDEBUG
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__wndDEBUG.git
[submodule "srcEXT/in0k_lazarusIdeSRC__ideForms"]
	path = srcEXT/in0k_lazarusIdeSRC__ideForms
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__ideForms.git
[submodule "srcEXT/in0k_lazarusIdeSRC__B2SP"]
	path = srcEXT/in0k_lazarusIdeSRC__B2SP
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__B2SP.git
[submodule "srcEXT/in0k-bringToSecondPlane"]
	path = srcEXT/in0k-bringToSecondPlane
	url = https://github.com/in0k-pas-src/in0k-bringToSecondPlane.git
[submodule "srcEXT/in0k_lazarusIdeSRC__fuckUpControl"]
	path = srcEXT/in0k_lazarusIdeSRC__fuckUpControl
	url = https://github.com/in0k-LazarusIDE-soures/in0k_lazarusIdeSRC__fuckUpControl.git
